<div class="search-result">
  <div class="search-result-image">
    <img class="img-thumbnail" src="<%= search_result.image_url %>" width="150" />
  </div>

  <div class="search-result-details">
    <h5><%= search_result.name %></h5>

    <%= rating_image_for(search_result.rating) %>

    <div class="search-result-address">
      <%= search_result.address.formatted %>
    </div>

    <div class="search-result-distance">
      <%= miles_away(search_result.distance) %>
    </div>

    <div class="search-result-purchase-link">
      <%= link_to 'Purchase Giftly gift card',
        new_gift_card_path(business_id: search_result.business_id) %>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
