<!DOCTYPE html>
<html>
  <head>
    <title>GiftlyChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.typekit.net/qso2bkv.css">
  </head>

  <body>
    <div class="container">
      <%= render 'shared/nav' %>

      <section id="main-content">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </section>
    </div>
  </body>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GCP_API_KEY'] %>&callback=googleInit" type="text/javascript"></script>

</html>
